@media screen and (max-width: 768px) {
  .container {
    width: 90vw;

    display: grid;
    grid-template-rows: max-content 1fr;
    gap: 5vw;

    margin: 5vw auto;
  }
  .main-container {
    gap: 5vw;
  }
}
