:root {
  --dark: #000;
  --light: #ddd;
  --bg-light: #ffffff10;
  --bg-dark: #00000010;
  --input-bg-light: #ffffff25;
}
input:focus {
  outline: 3px solid tomato;
}
input[type="text"] {
  border: 3px solid var(--input-bg-light);
  padding: 2.5vw;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  max-width: 10vw;
  padding: 0.1em;
  text-align: center;
  border-bottom: 3px solid var(--input-bg-light);
}
.errAnim:focus {
  outline: 3px solid red;
}
.errAnim {
  transition: all 200ms ease;
  transform: translateX(0);
  outline: 3px solid red;

  animation: errAnim 80ms ease 7 forwards;
}
@keyframes errAnim {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(-2px);
  }
  50% {
    transform: translateX(0px);
  }
  75% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0px);
  }
}
/* медиа запросы для ховеров чтобы на мобилке не ховер не оставался после нажатия*/
@media (hover: hover) {
  #clearAllDoneTodos:hover {
    fill: red;
  }
  svg:not(.indicateCircle):hover {
    scale: 1.1;
    transition: all 200ms ease;
    cursor: pointer;
  }
}
@media (hover: none) {
  #clearAllDoneTodos:active {
    fill: red;
  }
  svg:not(.indicateCircle):active {
    scale: 1.3;
    transition: all 200ms ease;
  }
}

/* themes */
.dark {
  background-color: var(--dark);
  color: var(--light);
  transition: all 300ms ease;
}
.dark h3,
.dark button {
  color: #999;
}
.dark .start-button,
.dark .reset-button {
  background-color: var(--light);
  color: #000;
}
.light {
  background-color: var(--light);
  color: var(--dark);
  transition: all 300ms ease;
}
.light input {
  border-color: var(--bg-dark);
}
.light header,
.light .timer-wrapper,
.light .todos-wrapper,
.light .todosDone-wrapper {
  border: 2px solid #00000007;
}
.light #buttonEmpty {
  border-color: var(--bg-dark);
}
.light h3,
.light button {
  color: #444;
}
.light .start-button,
.light .reset-button {
  background-color: var(--bg-dark);
  color: #222;
}
.light .todo-wrap,
.light .todoDone-wrap {
  border-color: var(--bg-dark);
}
.wrap-dark {
  background-color: var(--bg-light);
}
.wrap-light {
  background-color: var(--bg-dark);
}
.wrapper {
  padding: 24px;
  border-radius: 10px;
}

/* Font */
* {
  font-family: sans-serif;
  font-weight: lighter;
}
.large-text {
  font-size: large;
}
.x-large-text {
  font-size: x-large;
}
.start-button {
  margin: 0 auto;
  padding: 0.5em 1em;

  width: 56%;

  font-weight: normal;
  font-size: xx-large;
}

h3,
button {
  font-weight: normal;
}

/* Layouts */

.space-between-layout {
  display: grid;
  grid-template-columns: max-content max-content;
  justify-content: space-between;
  align-items: start;
}

.container {
  /* height: 100vh; */
  width: 90vw;

  display: grid;
  grid-template-rows: max-content 1fr;
  gap: 5vh;

  margin: 0 auto;
}
.main-container {
  display: grid;
  gap: 5vh;
}
.todo-wrap {
  padding: 5vmax 0;

  display: grid;
  grid-template-columns: max-content 1fr max-content;
  align-items: center;
  gap: 5vw;

  border-bottom: 1px solid var(--bg-light);
}
.todoDone-wrap {
  padding: 5vmax 0;

  display: grid;
  grid-template-columns: 1fr max-content;
  align-items: center;
  gap: 5vw;

  border-bottom: 1px solid var(--bg-light);
}
.todos-wrapper,
.todosDone-wrapper {
  display: grid;
  gap: 5vh;
}
.todosDone-wrapper {
  min-height: 25vh;
}
.todo-settings {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  gap: 5vw;
}
/* timer block */
.timer-wrapper {
  display: grid;
  justify-items: center;
  gap: 5vw;
}

.timer-mode-list {
  display: flex;
  justify-content: center;
  gap: 5vmin;
}
.timer-string-wrap {
  display: grid;
  justify-content: center;
}
.timer-string {
  font-size: 10vmax;
}
.startButtonContainer {
  position: relative;

  width: 100%;
  display: flex;
  justify-content: center;
}

.reset-button {
  position: absolute;
  top: 2.5vw;
  right: 2.5vw;
  padding: 0.75vw 1vw;
}
.current-todo-wrap {
  margin: 0 auto;
}

#buttonEmpty {
  padding: 2.5vw;
  border-radius: 10px;
  border: 5px dashed var(--bg-light);
  width: 100%;
  height: 100%;
  transition: all 200ms ease;
}

/* asdfjaslkfj;sladjf;slkdfjas;f */

.timer-mode-list {
  border-bottom: 2px solid transparent;
}
.timer-mode-list_active {
  border-bottom: 2px solid tomato;
}

.none {
  display: none;
}

.container .todo-wrap input[type="checkbox"] {
  width: 18px;
  height: 18px;

  background-color: var(--light);
}
