:root {
  --dark: #000;
  --light: #ccc;
  --bg-light: #ffffff10;
  --bg-dark: #00000010;
  --input-bg-light: #ffffff25;
}

/* button:focus,
input:focus {
  outline: 3px solid tomato;
} */
input[type="text"] {
  padding: 2.5vw;
}

/* themes */
.dark {
  background-color: var(--dark);
  color: var(--light);
}
.light {
  background-color: var(--light);
  color: var(--dark);
}
.wrap-dark {
  background-color: var(--bg-light);
}
.wrap-light {
  background-color: var(--bg-dark);
}
.wrapper {
  padding: 24px;
  border-radius: 10px;
}

/* Font */
* {
  font-family: sans-serif;
  font-weight: lighter;
}
.large-text {
  font-size: large;
}
.x-large-text {
  font-size: x-large;
}
.start-button {
  font-weight: bold;
  font-size: xx-large;

  padding: 0.5em 1em;
}

/* Layouts */

.space-between-layout {
  display: grid;
  grid-template-columns: max-content max-content;
  justify-content: space-between;
  align-items: start;
}

.container {
  /* height: 100vh; */
  width: 90vw;

  display: grid;
  grid-template-rows: max-content 1fr;
  gap: 5vh;

  margin: 0 auto;
}
.main-container {
  display: grid;
  gap: 5vh;
}
.todo-wrap {
  padding: 5vmax 0;

  display: grid;
  grid-template-columns: max-content 1fr max-content;
  align-items: center;
  gap: 5vw;

  border-bottom: 1px solid var(--bg-light);
}
.todos-wrapper {
  display: grid;
  gap: 5vh;
}
.todo-settings {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  gap: 5vw;
}
/* timer block */
.timer-wrapper {
  display: grid;
  justify-items: center;
  gap: 5vw;
}

.timer-mode-list {
  display: flex;
  justify-content: center;
  gap: 5vmin;
}
.timer-string-wrap {
  display: grid;
  justify-content: center;
}
.timer-string {
  font-size: 10vmax;
}
.startButtonContainer {
  position: relative;

  width: 100%;
  display: flex;
  justify-content: center;
}
.start-button {
  margin: 0 auto;
  width: 56%;
}
.reset-button {
  position: absolute;
  top: 2.5vw;
  right: 2.5vw;
  padding: 0.2vw;
}
.current-todo-wrap {
  margin: 0 auto;
}

/* todos block */
.todos-header {
}

/* asdfjaslkfj;sladjf;slkdfjas;f */

.timer-mode-list {
  border-bottom: 2px solid transparent;
}
.timer-mode-list_active {
  border-bottom: 2px solid tomato;
}

svg:hover {
  scale: 1.5;
  transition: all 200ms ease;
}

.none {
  display: none;
}

.container .todo-wrap input[type="checkbox"] {
  width: 18px;
  height: 18px;

  background-color: var(--light);
}
